.mainSort {
  font-size: 18px;

  &__row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    background-color: #fff;
  }

  &__sortList {
    & ul {
      display: flex;
      align-items: center;

      column-gap: 10px;
    }

    & li {

    }

    & .link__active {
      color: #fff;
      background-color: #414042;
    }

    & li a {
      font-weight: 500;
      cursor: pointer;
      padding: 3px 7px;

      border-radius: 10px;
      transition: 0.2s ease-in-out;
    }

    & li a:hover {
      color: #fff;
      background-color: #414042;
    }
  }

  &__sort {
    user-select: none;
    padding: 5px 0;
    cursor: pointer;
    &:hover {

    }
    & img {
      user-select: none;
    }

    & span {

    }

    & a {
      color: #FF756B;
      border-bottom: 1px #FF756B dashed;
  }
  }

  &__sortAppear {

    position: absolute;
    top: 60px;
    right: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;

    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.2));
    & a {
      padding: 10px 20px;

      transition: 0.2s ease-in-out;
    }

    &_active {
      color: #FF756B;
      background-color: rgba(255, 117, 107, 0.1);
    }

    & a:hover {
      color: #FF756B;
      background-color: rgba(255, 117, 107, 0.1);
    }
    &_visible {
      opacity: 1;
      display: flex;
    }
  }
}

