@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import '_reset.scss';

@import 'blocks/_header.scss';
@import 'blocks/_mainSort.scss';
@import 'blocks/_main.scss';

body {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  padding: 40px 0;

  background: #FBE7B5;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}



